apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Values.configMapName }}
  namespace: {{ .Release.Namespace }}
data:
  smarthome-config.yaml: |
{{ .Files.Get "smarthome-config.yaml" | indent 4 }}
